.identifica {
    background-color: rgb(33, 37, 41);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
    /* Thêm bóng đổ để tạo hiệu ứng nổi lên */
    color: white;
}

.min {
    flex: 1;
    min-height: 220px;
}
.title {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.shadow {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.8);
    background-color: rgb(33, 37, 41);
    color: white;
}

.floating {
    background-color: #2a2e32; // Dark background
    color: #fff; // White text color
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    }
}

.card-title {
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 25px;
}

.arrow {
    font-size: 1.5rem;
    text-decoration: none;

    &:hover {
        color: #ff5733; 
    }
}